.form{
    display: flex;
    justify-content: space-around;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input,label,button,textarea {
    margin: 2%;

}
.btn {
    margin-top: 2%;
}